input {
  border: 1px solid black;
  padding: 6px;
}
button {
  padding: 4px 14px;
  background-color: aqua;
  border-radius: 10px;
  border: 1px solid black;
}
/* OrderList.css */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #e2e8f0;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #edf2f7;
  font-weight: bold;
}
.pagination-component {
  user-select: none;
  -webkit-user-select: none;
}
.coupon {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/189/118/small/volume-template-of-golden-ticket-gift-certificate-gift-voucher-holiday-reward-card-design-with-sparkles-stars-on-golden-background-tied-with-ribbon-with-gold-bow-concept-for-coupon-event-vector.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
